*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
	background: white;
}

nav{
    position: fixed;
    top: 20px;
    left: 20px;
    display: flex;
    justify-content: flex-start;
}

nav a{
    color:black;
    text-decoration: none;
}

.icono{
    display: block;
    z-index: 100000000;
    animation: moverIzquierda 1s ease-in;
}

header{
    background: black;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1ae5e2, #0618e5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6D03CC, #C383FC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    height: auto;
    padding: 48px;
    width: 100%;
}

.container{
    width: 95%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}

img{
    display: block;
    height: 900px;
    object-fit: cover;
    animation: arriba 1s ease-in;
}

.textos{
    width: 50%;
    color:#fff;
}

.textos h1{
    font-size:80px;
    animation: moverDerecha 1s ease-in;

}

.textos h2{
    font-size:30px;
    animation: moverIzquierda 1s ease-in;
}

.textos a{
    display: inline-block;
    color:white;
    font-weight: 300;
    text-decoration: none;
    margin-top: 30px;
    border: 1px solid #fff;
    width: 150px;
    border-radius: 3px;
    text-align: center;
    padding: 10px 0;
    animation: arriba 1s ease-in;

}

.wave{
    height: 100px;
    width: 100%;
    background: black;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #89216B, #DA4453);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6D03CC, #C383FC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}

.enlaces{
    position: fixed;
    display: flex;
    top: 0;
    background: #000;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    right: 0;
    flex-direction: column;
    width: 100%;
    transition: all 1s ease;
    background: black;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f80759, #bc4e9c);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #DE00DA, 	#17407d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.uno{
    
-webkit-clip-path: circle(0% at 0 0);
clip-path: circle(0% at 0 0);

}

.dos{
    
    -webkit-clip-path: circle(150% at 0 0);
    clip-path: circle(150% at 0 0);
    
    }

@keyframes moverIzquierda{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moverDerecha{
    0%{
        opacity: 0;
        transform: translateX(100px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes arriba{
    0%{
        opacity: 0;
        transform: translateY(100px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@media screen and (max-width:2000px){
    img{
        height: 800px;
    }
	section,aside: {height: 500px;}

}

@media screen and (max-width:1500px){
    img{
        height: 500px;
    }
    .textos h1{
        font-size: 50px;
    }

    .textos h2{
		
        font-size: 45px;
    }
    
}

@media screen and (max-width:1200px){
    img{
        height: 450px;
    }
    .textos h1{
        font-size: 40px;
    }

    .textos h2{
        font-size: 25px;
    }
	section,aside {
		height: 500px;
		width: 80%
	}
}

@media screen and (max-width:450px){
    .container{
        width: 100%;
        flex-wrap: wrap-reverse;
        justify-content: center;
    }
    .textos{
        width: 100%;
        text-align: center;
    }
    .textos h1{
        font-size: 60px;
    }    
}

@media screen and (max-width:340px){
    img{
        height: 560px;
    }
    .textos h1{
        font-size: 150px;
    }
    .textos a{
        width: 320px;
    }
    .textos h2{
        font-size: 150px;
    }
    
}
main {
            padding: 20px;
            display: flex;
            flex-wrap: wrap;
        }

        section, aside {
            margin: 10px;
            padding: 70px;
            height: 300px;
    		width: 32%;
            min-width: 400px;
            background-image: radial-gradient(circle at 88.75% 50%, #e889ef 0, #c36fe0 25%, #9550cc 50%, #6134b9 75%, #1823ab 100%);
            border: 2px solid #ccc;
            border-radius: 5px;
        }

        footer {
			border: 2px solid black;
            background-image: radial-gradient(circle at 9.44% 46.45%, #866f79 0, #79696e 12.5%, #6b6264 25%, #5a5a5a 37.5%, #475252 50%, #33494b 62.5%, #1f4247 75%, #023a44 87.5%, #003342 100%);
            color: #fff;
            text-align: center;
            padding: 10px;
        }

        @media screen and (max-width: 768px) {
            nav ul {
                flex-direction: column;
            }

            nav li {
                margin-right: 0;
                margin-bottom: 10px;
            }

            section, aside {
                flex: 1 1 100%;
                min-width: 100%;
				
            }
        }
		@media screen and (max-width: 340px) {
			h1 { font-style: 20px;}
			h2 {font-size: 30px}
	
		}

		@media screen and (max-width: 880px ) {
			section, aside {
                flex: 1 1 100%;
                min-width: 100%;
				
            }
		}
